<button class="btn btn-primary" data-toggle="modal" data-target="#formModal">Crea Film</button>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crea Film</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="title" #title>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Genere:</label>
                <input type="text" class="form-control" id="genere" #genere>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Anno:</label>
                <input type="text" class="form-control" id="year" #year>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Durata:</label>
                <input type="text" class="form-control" id="duration" #duration>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Immagine:</label>
                <input type="text" class="form-control" id="image" #image>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Descrizione:</label>
                <input type="text" class="form-control" id="description" #description>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)= "addFilm( title.value, genere.value, year.value, duration.value, image.value, description.value)">Salva Film</button>
        </div>
      </div>
    </div>
  </div>

