<div class="container vh-100" style="margin-top: 15vh;">
  <app-serie-form [serie]="selectedSerie" (feedbackEv)="movieFormEvent($event)"></app-serie-form>
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Year</th>
              <th scope="col">Genre</th>
              <th scope="col">Seasons</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="dropdown">
            <tr *ngFor='let s of serie'>
              <td>{{ s.title }}</td>
              <td>{{ s.year }}</td>
              <td> {{ getGenreValue( s.genere )}}</td>
              <td class="dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ s.season }}
                <table  class="dropdown-menu table table-striped" aria-labelledby="dropdownMenuButton"> 
                  <thead>
                    <tr style="width: 100%;">
                      <th style="width: 250px;" scope="col">Season</th>
                      <th style="width: 250px;" scope="col">Title</th>
                      <th style="width: 250px;" scope="col">Year</th>
                      <th style="width: 250px;" scope="col">Episodes</th>
                    </tr>
                  </thead>
                  <tbody  *ngFor='let a of s.numseason'> 
                    <tr>
                      <td style="width: 250px;" scope="col">{{a.nSeason}}</td>
                      <td style="width: 250px;" scope="col">{{a.title}}</td>
                      <td style="width: 250px;" scope="col">{{a.year}}</td>
                      <td style="width: 250px;" scope="col">{{a.nEpisodes}}</td>
                    </tr>
                  </tbody>
                </table> 
             </td>
             <td class="d-flex justify-content-between">
              <button class="btn btn-danger" (click)="deleteSerie(s)">DELETE</button>
              <button class="btn btn-secondary">EDIT</button>
            </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</div>

