<div class="container" style="margin-top: 15vh;">
  <app-movie-form (feedbackEv)="movieFormEvent($event)"></app-movie-form>
    <div class="row"  type="button" data-toggle="modal" data-target="#exampleModal">
        <div *ngFor='let m of movies' class="col-md-4" (click)="selectionClick(m)">
            <div class="card border-0 shadow my-5 p-1" style="width: 18rem;">
                <img class="card-img-top" src="{{ m.image }}" alt="Card image cap">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ m.title }}</h5>
                </div>
              </div>
        </div>
    </div>
</div>

<app-movie-modal [movie]="selectedMovie"></app-movie-modal>




